{:paths ["src/clj" "test/clj"
         "../dgir/build/classes/java/main"
         "../dgir/vm/build/classes/java/main"
         "../dgir/src"
         "../dgir/vm/src"]
 :deps  {org.clojure/clojure            {:mvn/version "1.12.1"}
         metosin/malli                  {:mvn/version "0.20.2"}
         com.phronemophobic/clj-graphviz {:mvn/version "0.6.4"}}}
